thead {
	border-color: meduiumslateblue;
	background-color: paleturquoise;
}

h1 {text-align: center}

.texto_centro {
	text-align: center;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
}